# Python Essentials

---

## A Comment

In [ ]:
# Python will ignore this...
# For human eyes only.

# Numbers
- Integers
- Floats (decimals)

#### Addition

In [ ]:
3+2

#### Subtraction

In [ ]:
5-2

#### Multiplication

In [ ]:
3*2

#### Division

In [ ]:
3/2

##### Floor division - returns only the whole part following division

In [ ]:
3//2

#### Modulus (remainder)

In [ ]:
3%2

#### Exponentiation

In [ ]:
3**2

---

# Variables
   - can only be one word
   - can use only letters, numbers, and the underscore (_) character
   - canâ€™t begin with a number
   - are case-sensitive (data, Data and DATA would be different variable names)

In [ ]:
red = 3
green = 2

In [ ]:
apples = red + green

apples

---

# Strings

#### Single quotes

In [ ]:
'This is fun!'

#### Double quotes

In [ ]:
"Isn't this fun?"

# Print()

In [ ]:
print("apples")

In [ ]:
print(apples)

### Print formating

In [ ]:
name = "Angela"

print("{} ate all {} of the apples.".format(name, apples))

In [ ]:
# f-string

print(f"{name} ate all {apples} of the apples.")

---

# Lists
### Create a list using square brackets

In [ ]:
# create a list using square brackets

[1,2,3,4,5]

In [ ]:
L = [1, 2, 3, 4, 5]

L

### Accessing values

In [ ]:
# access list items using index notation. The first item is at index position 0.

# List:                [1, 'two', 3, 4, 5]
# index position:       0    1    2  3  4 

L[0]

### Replace an item in a list

In [ ]:
L[1] = "two"

L

### Get the (length) number of items in a data structure.

In [ ]:
len(L)

In [1]:
# Sort a list

L2 = [55, 21, 34, 12, 8, 9]

sorted(L2)  # returns a new sorted list
#L2.sort()    # sorts the list in place

[8, 9, 12, 21, 34, 55]

In [2]:
L2

[55, 21, 34, 12, 8, 9]

### Concatenate a list

In [3]:
[96, 97] + [98, 99]

[96, 97, 98, 99]

### Extend a list

In [4]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

### List slicing

In [5]:
L3 = [1,2,3,4,5]

In [6]:
L3[0:3]

[1, 2, 3]

In [7]:
L3[3:]

[4, 5]

In [8]:
# use negatives to count from the end of the list

L3[-1]      # returns the last item

5

In [9]:
# returns the third item from the end

L3[-3]

3

In [10]:
# returns the last 3 items

L3[-3:]

[3, 4, 5]

In [11]:
# returns all of the items

L3[:]

[1, 2, 3, 4, 5]

In [12]:
# A second colon (:) can be used to indicate step-size. 
# list[start:stop:stepsize]

L3[::2]

[1, 3, 5]

In [13]:
# Reverses the order of the list
# Display every item, beginning from the end

L3[::-1]

[5, 4, 3, 2, 1]

---

# Tuples
### Create a tuple using parentheses

In [14]:
tup = (1,2,3,4,5,6)

In [15]:
tup[:2]

(1, 2)

### A tuple can't be modified

In [16]:
tup[0] = "new data"     # immutable, will get an error

TypeError: 'tuple' object does not support item assignment

### Unpacking
Assign multiple values to variables all at once.

In [17]:
first, second, third = ("learning", "from", "data")

print(third)

data

---

# Dictionaries
Composed of key-value pairs.
### Create a dictionary using curly braces and colons

In [18]:
employee = {"Name": "Alicia Mays", "Position": ["Data Scientist", "2024"]}

### Accessing values in a dictionary

In [19]:
employee["Name"]

'Alicia Mays'

In [20]:
employee["Position"][1]

'2024'

### Adding data (key-value pairs) to a dictionary

In [21]:
employee["Location"] = "San Francisco"

employee

{'Name': 'Alicia Mays',
 'Position': ['Data Scientist', '2024'],
 'Location': 'San Francisco'}

---

# Sets

In [22]:
{1,2,3,1,2,3}

{1, 2, 3}

In [23]:
a_list = ["Stanford", "UCLA", "Berkeley", "Stanford", "USC", "USC", "Berkeley", "UCLA"]

a_set = set(a_list)

a_set

{'Berkeley', 'Stanford', 'UCLA', 'USC'}

---

# Booleans

In [24]:
True

True

In [25]:
False

False

### Comparison Operators

In [26]:
1 < 2

True

In [27]:
1 > 2

False

In [28]:
1 <= 2

True

In [29]:
1 >= 2

False

In [30]:
1 == 2

False

In [31]:
1 != 2

True

In [32]:
"meme" == "meme"

True

In [33]:
"meme" == "mime"

False

### Inclusion/Exclusion

In [34]:
data_science_list = ["Machine Learning", "Deep Learning", "AI"]

"Machine Learning" in data_science_list

True

In [35]:
"AI" not in data_science_tuple

NameError: name 'data_science_tuple' is not defined

### Boolean Operators
and, or, not

In [36]:
True and True

True

In [37]:
# For example:

1 < 2 and 1 < 3

True

In [38]:
True and False

False

In [39]:
# For example:

1 < 2 and 3 < 1

False

In [40]:
True or False

True

In [41]:
# For example:

1 < 2 or 3 < 1

True

In [42]:
not False

True

In [43]:
not 3 < 1

True

---

# Conditional Statements

## if

In [44]:
'''

if <condition>:
    block of code
--> blocks begin and end with indentation, traditionally 4 spaces

    if <condition>:
        block of code
        can be another if statement

if <condition>:
    block of code
    
''';

In [45]:
if True:
    print("True")

True

In [46]:
user_email = "me@myemail.com"
password = "my_password"

if user_email == "me@myemail.com":
    if password == "my_password":
        print("You're in!")

You're in!

In [ ]:
if 5<2: 
    print("True")

## elif
Testing multiple conditions.

In [ ]:
'''

if <condition>:
    block of code
elif <condition):
    block of code

''';

In [14]:
missing_values = 5

if missing_values == 0:
    print("Data quality is excellent.")
elif missing_values <= 5:
    print("Data quality is good.")
elif missing_values <= 10:
    print("Data quality is not bad.")

## else

In [ ]:
'''

if <condition>:
    block of code
else:
    block of code

''';

In [15]:
missing_values = 25

if missing_values == 0:
    print("Data quality is excellent.")
elif missing_values <= 5:
    print("Data quality is good.")
elif missing_values <= 10:
    print("Data quality is not bad.")
else:
    print("Data quality is poor.")

Data quality is poor.

---

# for Loops
### range()
Generates the indicated number of values (beginning from 0, unless otherwise indicated).

In [ ]:
# By default, range(10) starts at 0 and EXCLUDES the stop value
# Use list() to display the list of numbers

list(range(10))

### Loop through the list of values, one at a time, for as long as there are values in the list.

In [ ]:
for number in range(10):
    print(number)

#### This is what the machine sees:

In [ ]:
for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(number)

### You can modify the start and stop values for the loop.

In [ ]:
# range(start, stop)

for num in range(1,11):
    print(num)

### Loop through a list.

In [ ]:
data_science_list = ["Machine Learning", "Deep Learning", "Artifical Intelligence"]

for technology in data_science_list:
    print(technology)

---

# List Comprehension

In [ ]:
a_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[num**2 for num in a_list]

In [18]:
data_science_list = ["Machine Learning", "Deep Learning", "Artifical Intelligence"]

[item for item in data_science_list if item not in ["Machine Learning"]] + ["Machine Learning"]

['Deep Learning', 'Artifical Intelligence', 'Machine Learning']

In [ ]:
test_scores = [75, 81, 62, 93, 54]

["Pass" if score >= 70 else "Fail" for score in test_scores]

---