# NumPy Introduction

In [1]:
import numpy as np

# Creating Arrays

## array()

In [2]:
# array() accepts any sequence-like object

np.array([17, 9, 3, -5, -1])

array([17,  9,  3, -5, -1])

## arange()

In [3]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
# arange(start, stop) returns a numpy array

np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

---

## Random numbers

### rand()

In [5]:
# Returns a random number between 0 and 1 (exclusive).

np.random.rand()

0.7912730365385121

### randint()

In [6]:
# Returns a random integer between start and stop (exclusive).
# randint(start, exclusive stop, (shape)) 

np.random.randint(1, 101)

89

### normal

In [7]:
# Returns a random number from a normal distribution, given a mean and standard deviation.
# mean = 30; std = 5

np.random.normal(30, 5)

37.66246286811669

In [8]:
                      # (5 rows, 5 cols)

np.random.normal(30, 5, (5,5))

array([[25.79041758, 36.22798108, 31.85736837, 23.71350008, 27.813232  ],
       [35.53057695, 29.3721973 , 28.0116667 , 33.92083263, 31.0591006 ],
       [30.14899643, 31.53575639, 24.87747673, 26.921812  , 22.00511072],
       [28.99908314, 28.92384053, 20.85378616, 34.78733884, 34.6899738 ],
       [31.69294094, 30.47749715, 35.33737812, 19.84500415, 29.06343619]])

### uniform()

In [9]:
# Returns a random decimal number uniformly between start and stop (exclusive).
# uniform(start, exclusive stop, (shape)) 

np.random.uniform(1, 100)

2.8909816303846525

---

## Multidimensional array (Matrix)

In [10]:
# Nested sequences of equal-length lists (a list of lists).

X = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15]])

X

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

### reshape()

In [11]:
np.arange(1, 16)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [12]:
#                    reshape(# rows, # columns)

X = np.arange(1, 16).reshape(3,5)

X

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [13]:
# -1 means for NumPy to determine the number of rows that can be created given the provided number of columns

X = np.arange(1, 16).reshape(-1,5)

X

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [14]:
# -1 means for NumPy to determine the number of columns that can be created given the provided number of rows

X = np.arange(1, 16).reshape(5,-1)

X

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

## Get the shape of an array

In [15]:
# Shape is returned as a tuple (# rows, # columns).

X.shape

(5, 3)

---

# Arithmetic with NumPy Arrays

### List

In [16]:
# A Python List

a_list = [1,2,3,4,5]

a_list

[1, 2, 3, 4, 5]

In [17]:
# List

a_list*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Array - Element-wise operations

In [18]:
# A NumPy array

arr = np.array([1,2,3,4,5])

arr

array([1, 2, 3, 4, 5])

In [19]:
# Array

arr*2

array([ 2,  4,  6,  8, 10])

In [20]:
arr**2

array([ 1,  4,  9, 16, 25])

In [21]:
arr + 100

array([101, 102, 103, 104, 105])

### Two arrays - element-wise operations

In [22]:
arr2 = np.arange(6,11)

arr2

array([ 6,  7,  8,  9, 10])

In [23]:
arr

array([1, 2, 3, 4, 5])

In [24]:
# Element-wise addition 

arr + arr2

array([ 7,  9, 11, 13, 15])

In [25]:
# Elment-wise multiplication 

arr * arr2

array([ 6, 14, 24, 36, 50])

---

# Useful Array Methods

In [26]:
arr = np.array([17, 9, 3, -5, -1])

arr

array([17,  9,  3, -5, -1])

### max()

In [27]:
arr.max()

17

In [28]:
# Returns the index position of the largest value

arr.argmax()

0

### min()

In [29]:
arr.min()

-5

In [30]:
# Returns the index position of the smallest value

arr.argmin()

3

### mean()

In [31]:
arr.mean()

4.6

### std()

In [32]:
arr.std()

7.735631842325487

---

## Multidimensional Array - Axis

In [33]:
# Multidimensional array

X

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [34]:
# Returns the mean of the full array (matrix).

X.mean()

8.0

In [35]:
# Sum all elements in the array (matrix).

X.sum()

120

## axis=0

In [36]:
X

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [37]:
# Returns the mean of each column (row-wise). 

X.mean(axis=0)

array([7., 8., 9.])

In [38]:
# Sum the columns (row-wise)

X.sum(axis=0)

array([35, 40, 45])

## axis=1

In [39]:
X

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [40]:
# Returns the mean of each row (column-wise) 

X.mean(axis=1)

array([ 2.,  5.,  8., 11., 14.])

---

# Array Indexing and Slicing

In [41]:
arr = np.arange(10)

arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [42]:
arr[3]

3

In [43]:
arr[3:8]

array([3, 4, 5, 6, 7])

In [44]:
# Return all items except the last one

arr[:-1]

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [45]:
# Return only the last item

arr[-1]

9

---

## Boolean (conditional) selection

In [46]:
arr = np.arange(1,11)

arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [47]:
arr > 5    # Returns a boolean array

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [48]:
# Returns only the values that are True

arr[arr>5]

array([ 6,  7,  8,  9, 10])

In [49]:
# Returns only the values that are True

arr[[False, False, False, False, False,  True,  True,  True,  True, True]]

array([ 6,  7,  8,  9, 10])

### Use a tilde to invert a condition

In [50]:
arr[~(arr>5)]

array([1, 2, 3, 4, 5])

# Methods for Boolean Arrays

### sum()

In [51]:
# Sums how many True values were returned.  # True is equal to 1, False is equal to 0.

(arr>5).sum()

5

### any()

In [52]:
# Tests if the condition returned any True values.

(arr>5).any()

True

### all()

In [53]:
# Tests if the condition returned ALL True values.

(arr>5).all()

False

---

# Universal functions

In [54]:
arr = np.arange(11)

arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

## min()

In [55]:
# Takes an array and returns the minimum value among the elements.

np.min(arr)

0

## max()

In [56]:
# Takes an array and returns the maximum value among the elements.

np.max(arr)

10

## median()

In [57]:
np.median(arr)

5.0

## percentile()

In [58]:
np.percentile(arr, [25, 75])   # interquartile range

array([2.5, 7.5])

## argsort()

In [59]:
# index position of the smallest to the largest values

an_arr = np.array([12, 3, 2, 8])

np.argsort(an_arr)

array([2, 1, 3, 0], dtype=int64)

## maximum()

In [60]:
x = [5, 10, 15, 20]
y = [2, 4, 20, 40]

In [61]:
# Takes 2 lists/arrays and returns the element-wise maximum between the elements

np.maximum(x,y)

array([ 5, 10, 20, 40])

## minimum()

In [62]:
# Takes 2 lists/arrays and returns the element-wise minimum between the elements

np.minimum(x,y)

array([ 2,  4, 15, 20])

---

# Conditional Logic 
## where()

In [63]:
arr = np.array([-10, -15, -20, 10, 15, 20])

arr

array([-10, -15, -20,  10,  15,  20])

In [64]:
# A vectorized version of the ternary expression x if condition else y
# Wherever the condition returns True, set the value to 1, otherwise set the value to -1:

np.where(arr > 0, 1, -1)

array([-1, -1, -1,  1,  1,  1])

In [65]:
# Wherever the condition returns True, set the value to 1, otherwise leave the value as is:

np.where(arr > 0, 1, arr)

array([-10, -15, -20,   1,   1,   1])