# Pandas Exercise

In [1]:
import pandas as pd

## Dataset: Top songs all-time over various platforms (as of June 2024)

In [2]:
df = pd.read_csv("top_songs.csv")
df.head(5)

,Track,Album Name,Artist,Release Date,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Popularity,YouTube Views,YouTube Likes,TikTok Likes,TikTok Views,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,725.4,"390,470,936",30716,92.0,"84,274,754","1,713,126","651,565,900","5,332,281,936",0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,545.9,"323,703,884",28113,92.0,"116,347,040","3,486,739","35,223,547","208,339,025",1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,538.4,"601,309,283",54331,92.0,"122,599,116","2,228,730","275,154,237","3,369,120,610",0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,444.9,"2,031,280,633",269802,85.0,"1,096,100,899","10,629,796","1,078,757,968","14,603,725,994",0
4,Houdini,Houdini,Eminem,5/31/2024,423.3,"107,034,922",7223,88.0,"77,373,957","3,670,188",NaN,NaN,1

---

### 1.) How many rows are in the dataset?

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4530 entries, 0 to 4529
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Track                   4530 non-null   object
 1   Album Name              4530 non-null   object
 2   Artist                  4530 non-null   object
 3   Release Date            4530 non-null   object
 4   Track Score             4530 non-null   float64
 5   Spotify Streams         4467 non-null   object
 6   Spotify Playlist Count  4530 non-null   int64
 7   Spotify Popularity      3795 non-null   float64
 8   YouTube Views           4263 non-null   object
 9   YouTube Likes           4256 non-null   object
 10  TikTok Likes            3617 non-null   object
 11  TikTok Views            3616 non-null   object
 12  Explicit Track          4530 non-null   int64
dtypes: float64(2), int64(2), object(9)
memory usage: 460.2+ KB

### 2.) How many columns are in the dataset?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4530 entries, 0 to 4529
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Track                   4530 non-null   object
 1   Album Name              4530 non-null   object
 2   Artist                  4530 non-null   object
 3   Release Date            4530 non-null   object
 4   Track Score             4530 non-null   float64
 5   Spotify Streams         4467 non-null   object
 6   Spotify Playlist Count  4530 non-null   int64
 7   Spotify Popularity      3795 non-null   float64
 8   YouTube Views           4263 non-null   object
 9   YouTube Likes           4256 non-null   object
 10  TikTok Likes            3617 non-null   object
 11  TikTok Views            3616 non-null   object
 12  Explicit Track          4530 non-null   int64
dtypes: float64(2), int64(2), object(9)
memory usage: 460.2+ KB

### 3.) Which is the Pandas method to get a summary of the data?

In [6]:
df.describe()

       Track Score  Spotify Playlist Count  Spotify Popularity  Explicit Track
count  4530.000000             4530.000000         3795.000000     4530.000000
mean     41.855408            59390.829801           63.514361        0.361369
std      38.622571            71131.406625           16.169405        0.480450
min      19.400000                1.000000            1.000000        0.000000
25%      23.300000             6718.000000           61.000000        0.000000
50%      29.900000            32312.500000           67.000000        0.000000
75%      44.400000            86038.750000           73.000000        1.000000
max     725.400000           590392.000000           96.000000        1.000000

### 4.) What is the average Track Score among these top tracks?

In [9]:
df['Track Score'].mean()

41.85540838852097

### 5.) What is the minimum Spotify Popularity score among these top tracks?

In [5]:
df['Spotify Popularity'].min()

1.0

### 6.) Which artist has the most tracks among these top tracks?

In [18]:
df[['Track', 'Artist']].value_counts('Artist')

Artist
Drake                       63
Taylor Swift                63
Bad Bunny                   60
KAROL G                     32
Travis Scott                30
                            ..
Inder Arya                   1
Imanbek                      1
Ikka                         1
Iggy Azalea                  1
ýýýýýýýýýýýýýýýýýýýýýýýý     1
Length: 1959, dtype: int64

### 7.) Which artist has the track in the most Spotify playlists?

In [32]:
df['Spotify Playlist Count'].nlargest()
df.loc[54, 'Artist']

'The Weeknd'

### 8.) From among the 5 tracks with the largest Spotify Playlist Count, which has the most TikTok Views?

In [42]:
df.loc[26,'Artist']

'The Kid LAROI'

### 9.) From among the 5 tracks with the largest Spotify Playlist Count, how many are explicit tracks?

In [48]:
1

0

### 10.) For the track with a Spotify Popularity score of 12 and a Spotify Playlist Count of 277, how many YouTube views does it have?

In [67]:
df[df['Spotify Popularity']==12]
#It has 6,736,502,312 Youtube Views

,Track,Album Name,Artist,Release Date,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Popularity,YouTube Views,YouTube Likes,TikTok Likes,TikTok Views,Explicit Track
14,bathroom floor,bathroom floor,Kids With Buns,10/7/2022,301.6,"297,185",277,12.0,"6,736,502,312","16,785,489","1,088","22,234",0
222,Illusion,Illusion,Dua Lipa,4/11/2024,103.1,"108,501,771",7430,12.0,"3,947,610","60,459","4,057","38,200",1
275,Sunroof,Sunroof,Nicky Youre,11/26/2021,92.3,"879,708,559",44652,12.0,"74,610,328","807,333","1,672,193,890","22,086,963,233",0
484,Bandit,Bandit - Single,Don Toliver,2/1/2024,69.6,"152,597,421",19834,12.0,"6,556,571","181,948","5,037,290","98,100,600",1
518,Lemonade,Lemonade,Internet Money,8/14/2020,67.3,"1,320,495,311",280937,12.0,"446,997,037","4,911,417","178,619,501","1,355,578,291",1
993,April Rain in August Weather,April Rain in August Weather - Single,Baba Blakes,3/24/2023,47.9,"408,449",38,12.0,"524,571,173","1,510,602",20,385,0
998,bad idea right?,bad idea right?,Olivia Rodrigo,8/11/2023,47.7,"433,515,672",37313,12.0,"37,971,085","871,048","92,857,729","839,351,640",1

---